Repository houssamousalhi/observability: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov, pytest

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: terraform_fmt
        name: Terraform FMT
        entry: bash -c 'DOCKER_BUILDKIT=1 docker run --rm -v "$(pwd):/workspace" -w /workspace hashicorp/terraform:1.6.0 fmt -check -recursive'
        language: system
        types: [terraform]
        pass_filenames: false

      - id: terraform_validate
        name: Terraform Validate
        entry: bash -c 'DOCKER_BUILDKIT=1 docker run --rm -v "$(pwd):/workspace" -w /workspace hashicorp/terraform:1.6.0 init -backend=false && DOCKER_BUILDKIT=1 docker run --rm -v "$(pwd):/workspace" -w /workspace hashicorp/terraform:1.6.0 validate'
        language: system
        types: [terraform]
        pass_filenames: false

      - id: terraform_docs
        name: Terraform Docs
        entry: bash -c 'DOCKER_BUILDKIT=1 docker run --rm -v "$(pwd):/workspace" -w /workspace quay.io/terraform-docs/terraform-docs:0.16.0 markdown .'
        language: system
        types: [terraform]
        pass_filenames: false

      - id: terraform_tflint
        name: Terraform TFLint
        entry: bash -c 'DOCKER_BUILDKIT=1 docker run --rm -v "$(pwd):/workspace" -w /workspace ghcr.io/terraform-linters/tflint:v0.48.0'
        language: system
        types: [terraform]
        pass_filenames: false

      - id: terraform_trivy
        name: Terraform Trivy
        entry: bash -c 'DOCKER_BUILDKIT=1 docker run --rm -v "$(pwd):/workspace" -w /workspace aquasec/trivy:0.44.0 fs . --skip-dirs='.terraform/modules,**/.terraform/modules' --tf-exclude-downloaded-modules --severity MEDIUM,HIGH,CRITICAL'
        language: system
        types: [terraform]
        pass_filenames: false

      - id: terraform_checkov
        name: Terraform Checkov
        entry: bash -c 'DOCKER_BUILDKIT=1 docker run --rm -v "$(pwd):/workspace" -w /workspace bridgecrew/checkov:2.4.9 --quiet --check MEDIUM'
        language: system
        types: [terraform]
        pass_filenames: false
        
      - id: pytest
        name: pytest
        entry: pytest -v -s --tb=long --showlocals --cov=./ --cov-report=term-missing
        language: python
        types: [python]
        pass_filenames: false
        verbose: true

new
  .github/workflows/ci.yml
Due: none

only terraform hooks on the ci
  .github/workflows/ci.yml
  .pre-commit-ci.yaml
  .pre-commit-config.yaml
  AWSCloudWatchAlarm/README.md
  AWSLambdaInspector/README.md
  GrafanaCloudWatchKeyRotator/README.md
  main.tf
  variables.tf
Due: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov

test
  variables.tf
Due: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov

add tests
  AWSCloudWatchAlarm/source-alarm-forwarder/alarm_forwarder_function.py
  AWSCloudWatchAlarm/source-alarm-forwarder/tests/test_alarm_forwarder_function.py
  variables.tf
Due: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov, pytest

fix terraform cw
  GrafanaCloudWatchKeyRotator/main.tf
  main.tf
Due: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov

filter functions in list add tests
  AWSLambdaInspector/source-inspector/lambda_inspector_function.py
  AWSLambdaInspector/source-inspector/tests/test_lambda_inspector_function.py
Due: pytest

add aws config for history metrics
  AWSLambdaInspector/README.md
  AWSLambdaInspector/source-inspector/lambda_inspector_function.py
  AWSLambdaInspector/source-inspector/tests/test_lambda_inspector_function.py
Due: pytest

add parallel calls
  AWSLambdaInspector/source-inspector/lambda_inspector_function.py
  AWSLambdaInspector/source-inspector/tests/test_lambda_inspector_function.py
Due: pytest

adapt grafna to structure env/stack/service
  AWSLambdaInspector/README.md
  AWSLambdaInspector/grafana.tf
  AWSLambdaInspector/grafana/aws-lambda-inspector-cloudwatch.json.tpl
  AWSLambdaInspector/main.tf
  AWSLambdaInspector/source-inspector/lambda_inspector_function.py
  AWSLambdaInspector/source-inspector/tests/test_lambda_inspector_function.py
  AWSLambdaInspector/variables.tf
Due: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov, pytest

fix test
  .github/workflows/ci.yml
  AWSLambdaInspector/source-inspector/tests/test_lambda_inspector_function.py
  main.tf
Due: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov, pytest

fix test (#1)
  .github/workflows/ci.yml
  AWSLambdaInspector/source-inspector/tests/test_lambda_inspector_function.py
  main.tf
Due: terraform_fmt, terraform_validate, terraform_docs, terraform_tflint, terraform_trivy, terraform_checkov, pytest

add tests
  AWSLambdaInspector/source-inspector/tests/test_lambda_inspector_function.py
Due: pytest
